:root{
    --background: white;
    --font: black;
    --border: #333;
    --screen: white;
    --calculator: #aaa;
    --btn: white;
    --btn-hover: #ddd;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    min-height: 500px;
    padding: 10px;
    margin-top: 50px;
}

body{
    background-color: var(--background);
    color: var(--font);
    font-family: "Roboto", sans-serif;
}

.calculator{
    border: 2px var(--border) solid;
    width: 400px;
    border-radius: 15px;
    margin-bottom: 20px;
    background-color: var(--screen);
    padding: 20px;
}

.screen{
    padding: 10px 20px;
    border: 2px var(--border) solid;
    border-radius: 5px;
    background-color: var(--screen);
    margin-bottom: 20px;
    text-align: right;
}

.screen-current{
    min-height: 64px;
    font-size: 40px;
}

.buttons-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.span-2{
    grid-column: span 2;
}

.btn{
    padding: 20px;
    border: 2px var(--border) solid;
    border-radius: 5px;
    background-color: var(--btn);
    font-size: 20px;
}

.btn:hover{
    background-color: var(--btn-hover);
}
